.stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
}

.stream-container.offline{
    background-color: #121212;
    color: white;
}

.stream-btn {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stream-btn.start {
  background-color: #28a745;
}

.stream-btn.stop {
  background-color: #dc3545;
}
